$primary-color: rgb(255, 119, 77);  
$accent-color: #8eb649; 
$font-light: 300;
$font-bold: 700;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-display: swap;
}

