// General Footer Styling
@import 'Main';

.footer{
    padding: 14.5px 0;
    background-color: rgb(219, 212, 195);
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    z-index: 99;

    p{
        font-style: italic;
        font-weight: $font-bold;
        letter-spacing: .1px;
        color: $primary-color;
    }
}

.footer__wrapper{
    @include wrapper;
    @include flex(center, row);
}

// Eat This Logo

.footer__brand{
    @include flex(center, row);
        text-decoration: none;

    h1{
        font-family: 'Oswald', sans-serif;
        color: $primary-color;
        padding-left: 5px;
        font-size: 24px;
    }
}

.footer__img{
    width: 10%;
    height: 100%;
}

// Social Links

.footer__socials{
    @include flex(center, row);
}

.fa-footer{
    padding: 0 10px;
    color: $primary-color;
}


@media (max-width: 900px){
    .footer__wrapper{
        @include flex(space-between, row);
        // @include border;
        width: 95%
    }

    p{
        font-size: 14px;
    }

    .fa-footer{
        padding: 0 5px;
    }
}

@media (max-width: 450px){
    .footer__brand{
        img{
            width: 15%;
        }
    }

}