// Hero General Styling
@import 'Main';

.hero{
    background-image:
        linear-gradient(to top, rgba(27, 27, 29, 0.705), rgba(255, 255, 255, 0)),
        url('../images/hero.webp');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.hero__wrapper{
    @include wrapper;
    @include flex(center, column);
    padding: 150px 0 13% 0;
}

// Hero Text

.hero__title{
    padding: 0;
    font-size: 13em;
    color: $primary-color;
    font-family: 'Oswald', sans-serif;
    font-weight: $font-bold;
}

.hero__subtitle{
    color: $accent-color;
    font-size: 2.5em;
    font-weight: $font-bold;
    text-align: center;
}

.hero__subtitle--small{
    margin: -50px;
}

// Hero Button

.hero__btn{
    @include btn-link;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.hero__btn:hover{
    transform: scale(1.1);
}

// Responsive 

@media (max-width: 1200px){
    .hero__title{
        font-size: 10rem;
    }

    .hero__subtitle{
        font-size: 2rem;
    }
}

@media (max-width: 900px){
    .hero{
        background-image:
            linear-gradient(to top, rgba(27, 27, 29, 0.705), rgba(255, 255, 255, 0)),
            url('../images/hero.webp');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        z-index: -1;
        height: 81.7vh;
        min-height: 350px;
    }
    

    .hero__wrapper{
        padding-top: 15vh; 
    }

    .hero__subtitle--small{
        margin: -20px;
    }

    .hero__title{
        font-size: 6rem;
    }

    .hero__subtitle{
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    .hero{
        height: 78vh;
    }
    .hero__title{
        font-size: 5rem;
    }
}