@import 'Main';

// List Form Styling

.list__wrapper{
    @include wrapper;
    width: 70%;
    padding: 30px;
    min-height: 83.8vh;

    h1{
      @include title;
        font-size: 40px;
    }
}

.list__search{
  margin: 10px 0 20px 0;
  @include flex(center, row);
}

.list__input{
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.list__search__btn{
  @include btn-link;
}

// List Styling
  
.list__ul{
  @include flex(space-between, column);
  list-style-type: none;
}

.list__items{
  width: 600px;
  align-self: center;
  margin: 5px;
  padding: 10px;
}

.list__items:nth-child(odd){
  background-color: rgb(235, 232, 225);
}

.list__text{
  color: $accent-color;
  font-weight: $font-bold;
}


.list__btn{
  @include btn-link;
  padding: 5px;
  margin: 0 5px;
}

.list__btn:hover{
  background-color: black;
}

.list__li{
  @include flex(space-between, row);
}

// Responsive

@media (max-width: 900px){

  .list__items{
    width: 300px;
    align-self: center;
    margin: 5px;
    padding: 10px;
  }

  .list__search__btn{
    padding: 10px;
  }
  .list__wrapper{
    width: 90%;

    h1{
      font-size: 28px;
    }
  }

  .list__btn{
    font-size: 16px;
    padding: 5px 5px;
  }
}
