@import 'config';

@mixin flex($position, $direction) {
    display:flex;
    justify-content: $position;
    align-items: center;
    flex-direction: $direction;
}

@mixin wrapper{
    width: 80%;
    margin: 0 auto;
}

// Used for checking CSS
@mixin border {
    border: 1px solid red;
}

@mixin btn-link {
    color:white;
    font-weight: $font-bold;
    background-color: $primary-color;
    border: none;
    padding: 15px;
    font-size: 19px;
    text-decoration: none;
}

@mixin title{
    font-family: 'Oswald', sans-serif;
    font-weight: $font-bold;
    color: $primary-color;
    text-align: center;
}
