@import 'Main';

.weekday__wrapper{
    @include wrapper;
}

.mealplan__title{
    @include title;
    font-size: 60px;
}

.weekday {
    @include wrapper;
    width: 80%;
    padding-bottom: 10px;
    h2{
        color: $accent-color;
        padding: 10px;
        font-size: 35px;
        font-weight: $font-bold;
        text-align: center;
    }
    h3{
        font-size: 23px;
        color: $primary-color;
        font-weight: $font-bold;
    }
    h4{
        color: $accent-color;
        width: 100px;
        text-align: center;
        font-style: italic;
        font-size: 20px;
    }
    h5{
        padding: 0 5px;
        font-size: 12px;
        font-style: italic;
    }
    a{
        padding-left: 10px;
        font-size: 14px;
    }
    p{
        padding: 10px;
        font-size: 30px;
    }
}

.weekday__bar{
    padding: 0 5px;
    font-size: 40px;
}

.weekday--color{
    background-color: rgb(247, 244, 239);
}

.weekday__meals{
    margin: 0 auto;
    width: 100%;
    @include flex(center, column);
}

.weekday__meal{
    @include flex(center, row);
    margin: 10px 0;
    padding: 10px;
}

.meal__details{
    @include flex(flex-start, row);
}

.weekday__link{
    @include btn-link;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    transition: all 0.3s ease;
}

.weekday__link:hover{
    transform: scale(1.1);
}

.weekday__img{
    width: 50px;
    margin-right: 10px;
}

@media (max-width: 900px){
    .weekday__wrapper{
       width: 90%;
    }

    .weekday {
        width: 100%;
    }

    .mealplan__title{
        margin: 30px 0;
        font-size: 2.5rem;
    }

}

@media (max-width: 700px){
    .weekday {
        @include wrapper;
        h2{
            font-size: 40px;
        }

        h4{
            font-size: 25px;
            margin: 5px;
            font-weight: $font-bold;
        }
        text-align: center;
        width: 90%;
        margin-bottom: 10px;

    }

    .weekday__meal{
        @include flex(center, column);
        // @include border;
        margin: 6px 0;

        p{
            display:none;
        }

        h3{
            margin: 0 auto;
            // @include border;
        }
    }

    .weekday__img{
        width: 80px;
        margin: 5px auto;
    }

    .meal__details{
        font-size: 14px;
        @include flex(center, column);
        // @include border;
        margin: 10px 0;

        a{
            margin-top: 5px;
        }
    }
}