// General Navbar Styling
@import 'Main';

nav{
    @include flex(center, row);
    width: 100%;
    background-color: $primary-color;
    z-index: 10;
}

.nav__wrapper{
    @include flex(space-between, row);
    width: 90%;
    margin: .6rem 0;
}

// Nav Logo & Text Styling

.nav__logo{
    @include flex(flex-start, row);
    text-decoration: none;

    img{
        width: 65px;
    }

    h2{
        color: white;
        font-size: 35px;
        padding: 0 15px;
        font-family: 'Oswald', sans-serif;
    }
}

// Nav links Styling & Transition

.icon{
    display: none;
    color: white;
    cursor: pointer;
}

.nav__links{
    @include flex(flex-end, row);
}

.nav__link{
    @include btn-link;
    transition: all .3s ease;
}

.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.nav__link:hover::after{
    transform: scaleX(1);
}

// Responsive - Hamburger menu

@media (max-width: 900px){

    nav{
        height: 70px;
    }

    .nav__logo{
        img{
            width: 50px;
        }
    }

    .nav__logo h2{
        font-size: 30px;
    }

    .icon{
        display:block;
        
    }

    .nav__links{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 94px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav__links.active{
        left: 0;
        opacity: 1; 
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav__link{
        width: 100%;
        text-align: center;
    }
}