@import 'Main';

.overlay__wrapper{
}

.overlay__weekdays{
    @include flex(center, column);
    text-align: center;
    height: 80px;
    margin-top: -12px;

}
.overlay__mealtime{
    height: 100%;
    width: 100%;
}

.overlay__weekdays__title{
    color: $accent-color;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 1;
}

.overlay__weekday__btns{
    @include flex(center, row);
    margin-top: 5px;
}

.highlighted{
    background-color:rgb(146, 58, 23);
}
.meal__btn:active {
    background-color:rgb(146, 58, 23);
}
.meal__btn--clicked{
    background-color:rgb(146, 58, 23);
}

.askask3{
    content: "";
    display: inline-block;
    position: relative;
    width: 5px;
    height: 16px;
    background-color: rgb(221, 55, 105);
    margin: 2px;
}

.overlay__mealtime{
    margin: 9px 0;

    h1{
        font-size: 20px;
        color: $primary-color;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-bottom: 5px;
    }
    
    span{
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        color: $accent-color;
    }

    .overlay__mealtime__btns{
        text-align: center;
    }

    .overlay__mealtime__btn{
        @include btn-link;
        padding: 5px;
        font-size: 14px;
        color: white;
        margin: 2px;
    }

    h2{
        color: $accent-color;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
}

.meal__btn{
    @include btn-link;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 3px;
    width: 45px;
}
