// General Styling
@import 'Main';

// Overlay Weekdays
.overlay__weekdays{
    @include flex(center, column);
    text-align: center;
    height: 80px;
    margin-top: -12px;
    margin-bottom: -6px;
}

.overlay__weekdays__title{
    color: $accent-color;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 1;
}

.overlay__weekday__btns{
    @include flex(center, row);
    margin-top: 5px;
}

.meal__btn{
    @include btn-link;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 3px;
    width: 45px;
}

// Overlay MealTimes

.overlay__mealtime{
    height: 100%;
    width: 100%;
    margin: 9px 0;

    h1{
        font-size: 20px;
        color: $primary-color;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        margin-bottom: 5px;
    }
    
    span{
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        color: $accent-color;
    }

    h2{
        color: $accent-color;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
}

.overlay__mealtime__btns{
    text-align: center;
}

.overlay__mealtime__btn{

}

.btns__show__food{
    @include flex(center, row);
}

.overlay__mealtime__btn{
    @include btn-link;
    padding: 5px;
    font-size: 14px;
    color: white;
    margin: 2px;
    height: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    max-width: 80%;
}

.overlay__btn__text{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Responsive

@media ( max-width: 900px){
    .overlay__mealtime__btn{
        max-width: 55%;
    }

    .overlay__weekdays__title{
        font-size: 25px;
    }
}
