// General Recipe Card Styling
@import 'Main';

.recipe-card{
    @include flex(space-between, row);
    display:flex;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    padding: 20px;
    text-align: center;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 11px -3px rgba(173,173,173,1);
    transition: all .3s ease;
    cursor: pointer;

    .recipe__info{
        font-size: 14px;
        margin-top: 7px;
    }

    h2{
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        line-height: 1.1;
        color: $accent-color;
    }

    img{
        border-radius: 5px;
        max-width: 150px;
    }

    .recipe__text{
        margin: 0 auto;
        padding-right: 10px;
    }
}

.recipe-card:hover{
    transform: scale(1.1);
}

.recipe__info{
    font-style: italic;
    font-weight: $font-light;
    font-family: 'Oswald', sans-serif;
}

// Overlay Grey Background

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-y: scroll;
    padding: 20px;
}

// Overlay Card & X

.overlay__card{
    width: 700px;
    margin: 11vh auto 0 auto;
    @include flex(space-between, column);
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
}

.overlay__x{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: $primary-color;
}

.overlay__x:hover{
    color:rgb(134, 86, 71);
}

// Overlay Image

.overlay__img{
    width: 400px;
    height: 120px;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

// Overlay Text
.overlay__text{
    margin: 50px 0 10px 10px;
    text-align: center;
    width: 90%;
    // overflow-y: scroll;


    .recipe__info{
        font-size: 18px;
        margin-top: 10px;
        font-weight: $font-light;
    }
}

.overlay__title{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 10px auto;
    line-height: 1.3;
    color: $accent-color;
    font-weight: $font-bold;
}

/* Overlay Ingredients */

.ingredients__title{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 5px 0;
}


.ingredients__check{
    display:none;
}

.ingredients__list{
    max-height: 200px;
    overflow-y: scroll;
}

.ingredients{
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -.2px;
    font-weight: $font-light;
    font-size: 16px;
}

// Overlay Buttons

.overlay__buttons{
    @include btn-link;
    padding: 10px;
    font-size: 14px;
    margin: 10px 10px 5px 10px;
}

.btn-row{
    @include flex(center, row);
}

.darkbtn{
    background-color: rgb(131, 66, 19);
}

.overlay__buttons:hover{
    transform: scale(1.05); 
}

.added:active{
    transform: scale(.95); 
}

.fa-check{
    color: $primary-color;
    position:absolute;
    padding-top: 10px;
    opacity: 0.9;
    // animation: fadeIn 0.3s ease-in;
}

.check-disappear{
    opacity: 0;
    animation: fadeOut 0.3s ease-out;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }

/* Meal Plan */

.meal-plan{
    width: 600px;
    background-color: aliceblue;
    height: 250px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}

.dont-display{
    display: none;
}

@media ( max-width: 900px){
    .overlay{
        padding: 5px;
    }

    .recipe-card{
     
        h2{
            font-size: 20px;
        }

        img{
            max-width: 120px;
        }
    }

    .recipe-card:hover{
        transform: scale(.95);
    }

    .overlay__card{
        width: 95%;
        margin: 11vh auto 0 auto;
        @include flex(space-between, column);
        background-color: aliceblue;
        border-radius: 10px;
        position: relative;
        overscroll-behavior: contain;
    }

    .overlay__title{
        font-size: 28px;

        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    
    .overlay__title__container{
        height: 100vh;
        overflow: hidden;
        display: grid;
        place-items: center;
    }

    .overlay__img{
        width: 50%;
        margin-top: 15px;
    }

    .overlay__buttons{
        padding: 6px;
        font-size: 13px;
        margin: 5px;
        width: 160px;
    }


    .ingredients__list{
        max-height: 100px;
        overflow-y: scroll;
    }
    
    .meal-plan{
        width: 90%;
        height: 230px;
    }

    .overlay__text{
        .recipe__info{
            font-size: 16px;
            margin-top: 5px;
        }
    }

    .fa-check{
        padding: 0;
        margin-top: 1rem;
    }

}
