// General Search Styling
@import 'Main';

.search{
  background-color: rgb(248, 253, 255);
  @include wrapper;
  min-height: 80.7vh;
}

.search__title{
  margin: 30px 0 15px 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  color: $primary-color;
}

// Search Input Form Styling

.search__form{
  padding-bottom: 30px;
  @include flex(center, row);
}

.search__input{
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
  
.search__btn{
  @include btn-link;
  transition: all 0.3s ease;
}

.list__btn2{
  @include btn-link;
  padding: 5px;
  margin-left: 100%;
}

.list__li{
  align-self:baseline;
  font-family: 'Oswald', sans-serif;
  flex: 1;
}

.list__ul{
  @include flex(space-between, row);
  align-items: center;
}

.search__btn:hover{
  transform: scale(1.1);
}
  
  
// Recipe Card Layout
.recipe__cards{
  display:grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
}
  

