// General Search Styling
@import 'Main';

.search{
  @include wrapper;
  width: 90%;
  min-height: 80.7vh;
  overflow-y: none;
}

.search__title{
  @include title;
  margin: 30px 0 15px 0;
  font-size: 40px;
}

// Search Input Form Styling

.search__form{
  padding-bottom: 30px;
  @include flex(center, row);
}

.search__input{
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
  
.search__btn{
  @include btn-link;
  transition: all 0.3s ease;
}

.search__btn:hover{
  transform: scale(1.1);
}
  
// Recipe Card Layout

.recipe__cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
}

// Responsive Design
  
@media (max-width:900px){
  .search{
    width: 95%;
  }

  .search__title{
    font-size: 2rem;
  }

  .recipe__cards{
    grid-template-columns: repeat(auto-fit, 350px);
  }
}
